.location-title {
    color: #60FFDB;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 21px;
}

.list {
    margin: 25px;
}

.search {
    border-radius: 5px;
    position: absolute;
    right: 125px;
    top: 100px;
    width: 25%;
}

.add-list-button {
    position: absolute;
    right: 10px;
    margin: 10px;
    background: none;
    border: none;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.form-group {
    margin: 10px;
}

.col-xs-12 {
    width: 100%;
}

.btn {
    border-radius: 3px;
    font-size: 20px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 30%;
}

.table td,
.table th {
    border-top: none;
    border-bottom: 1px solid rgb(89, 99, 97);
    margin-top: 5px;
}

.list-title {
    color: #60FFDB;
}

.table thead th {
    border-bottom: 1px solid rgb(123, 141, 137);
}

.table {
    color: white;
    text-align: center;
}

.form-group {
    margin: 3px;
}

input.form-control {
    border-radius: 4px;
}

.status-sleep {
    background: linear-gradient(rgb(48, 119, 243), rgb(38, 99, 243));
    border-radius: 6px;
}

.status-sleeppp {
    background: linear-gradient(#004BF5, #0048C4);
    border-radius: 6px;
}

.status-active {
    background: linear-gradient(#34DDD3, #2EBCC3);
    border-radius: 6px;
}

.status-normal {
    background: linear-gradient(rgb(233, 202, 124), rgb(177, 148, 89));
    border-radius: 6px;
}

.table-striped tbody tr {
    cursor: pointer;
}